.log {
    padding-top: 1rem;
    position: fixed;
    left: 20px;
    width: 80px;
  }
  
  .login-pag {
    background-image: url(https://repository-images.githubusercontent.com/299409710/b42f7780-0fe1-11eb-8460-e459acd20fb4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    left: 0;
    top: 0;
    height: 100vh;
  }
  
  .login-conten {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:  60%;
    padding: 2rem;
  }
  
  .tv {
    margin-top: 0;
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
  }
  
  .vt{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
    
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type='email']{
    height: 3rem;
    width: 1000px;
    max-width: 30rem;
    padding: 0.5rem;
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: none;
    margin-bottom: 1rem;
  }
  
  .btn {
    height: 3rem;
    width: 100%;
    max-width: 30rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
    background-color: #e50914;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .login-content {
      padding: 4rem;
    }
  
    input[type='email'] {
      max-width: 40rem;
    }
  
    button {
      max-width: 40rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .login-content {
      padding: 6rem;
    }
  
    input[type='email'] {
      max-width: 50rem;
    }
  
    button {
      max-width: 50rem;
    }
  }
  