.row{
    margin-left: 20px;
    color: #fff;
    padding-top: 0.5rem;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
}
.smallposter{
    cursor: pointer;
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
     max-height: 200px;
     
}
.smallposter .poster{
    max-width: 290px;
}
.smallposter::-webkit-scrollbar{
    display: none;
}

.poster:hover{
    transform: scale(1.1);
}
.image-title{
    padding-top: 1rem;
}
.close-button{
    background-color: black;
    font-size: large;
    color: #fff;
    font-weight: 900;
    border-color: transparent;
}